// Fix for react-select
.react-select-fix__menu {
  z-index: 9999 !important;
}

// Fix for PlayerPlayingStyle Dialog
.overflow-visible {
  overflow: visible;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.td-success {
  background-color: #d1e8de !important;
}

.td-danger {
  background-color: #f7d7da !important;
}

.td-info {
  background-color: #cff4fc !important;
}

.wrapper .container:has(.max-width-table) {
  width: 100% !important;
  max-width: 2000px !important;

  td {
    vertical-align: middle;
  }
}
